$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$accent-color: #2196f3;
$white-dark-theme: #ffffff;
$title-color: #212121;
$subtitle-color: #757575;
$background-color: #2f303a;
$svg-color: #afb1b8;
$features-background-color: #f5f4fa;

$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$title-font-weight: 700;
$subtitle-font-weight: 500;
$description-font-weight: 400;
$main-font-size: 14px;
